.header {
    margin: -1rem;

    .header__menu {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 0rem 2rem;
        .header__menuList {
            list-style: none;
            display: flex;
            gap: 2rem;
            align-items: flex-end;
            padding: 2rem;
        }
        .logo {
            margin-right: 1rem;
        }
    }
  .header__menuItem {
    border-bottom: 2px solid transparent;
    font-weight: bold;
      &:hover {
          cursor: pointer;
          border-bottom: 2px solid black;
      }
  }
}

@media screen and (max-width: 400px) {
    .header__menuItem-lang {
        width: 500px;
    }
}

.btn__language {
      right: 2rem;
      box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
      border-bottom: 2px solid black !important;
      &:active {
        border-bottom: 2px solid white !important;
      }
    
  }