.container__portfolio-content {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  height: auto;
}

.portfolio__list {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  

  .portfolio__item {
    transition: 1s ease-in-out;
    border-radius: 1rem;
    box-shadow: rgba(53, 15, 37, 0.3) 0px 0px 0px 3px;
    width: 250px;
    height: 300px;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    
    .project__name {
      font-family: $font-primary-titles;
      font-size: 20px;
      color: white;
      font-weight: bold;
      width: 100%;
      height: 200px;
      display: flex;
      align-items: flex-start;
    }
    .project__text {
      font-family: $font-primary-titles;
      font-size: 12px;
      color: white;
      display: flex;
      align-items: flex-start;
      text-align:justify;
      height: 300px;
    }
    .tag__list {
      width: 100%;
      height: auto;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      flex-wrap: wrap;
      gap: 5px;
      .tag__item {
        .tag__name {
          width: 60px;
          padding: 4px;
          border-radius: 2px;
          max-width: auto;
          background-color: $color-black-primary-titles;
          color: white;
          text-transform: uppercase;
          font-size: 10px;
          &:hover {
            background-color: white;
            color: black;
          }
        }
      }
    }
    &:hover {
      background-color: black !important;
      cursor: pointer;
      .actions {
        display: flex;
      }
    }
  }
}

.actions {
  display: none;
  gap: 1rem;
  transition: 5s ease-in-out;
  .action__code {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    &:hover {
      color: rgb(176, 176, 204);
    }
  }
}




.project-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 2rem;
  button {
    width: 150px;
    border-radius: 5px;
    height: 50px;
    background-color: black;
    color: white;
    font-family: sans-serif;
    outline: none;
    border: none;
    box-shadow: rgba(71, 68, 68, 0.15) 0px 5px 15px 0px;
    cursor: pointer;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}