/* Variables */ 
  $color-white-primary: rgb(245, 243, 241) default;
  $color-black-primary-titles: rgb(30, 30, 30);
  $font-primary-titles: "Ubuntu", sans-serif;
  $color-grey-texts: grey;

html,
body {
  padding: 0;
  margin: 0;
  font-family:$font-primary-titles;
  background-color:  $color-white-primary;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  .title {
    font-family: $font-primary-titles;
    text-align: center;
    font-size: 46px;
    text-transform: capitalize;
    font-weight: 100;
    border-bottom: 3px solid black;
  }
}
.container__section {
  animation: modal1 1s;
}

@keyframes modal1 {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 60px);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


/* Shared */
@import "./shared/header.scss";

/* Domains */
@import "./domain/about.scss";
@import "./domain/index.scss";
@import "./domain/skills.scss";

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

